NEXT_PUBLIC_API_URL=http://192.168.0.127:3001


curl 'http://localhost:3000/restaurants' \
  -H 'Referer: http://localhost:3003/' \
  -H 'User-Agent: Mozilla/5.0 (iPhone; CPU iPhone OS 16_6 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.6 Mobile/15E148 Safari/604.1' \
  -H 'Accept: application/json, text/plain, */*' \
  -H 'Content-Type: application/json' \
  --data-raw '{"name":"878978978989","username":"78789789","password":"98798787","address":"9879878978","city":"889787","country":"879","webSettings":{"bannerImage":"https://example.com/banner.jpg","backgroundColour":"#ffffff","primaryColour":"#4F46E5","primaryColourHover":"#4338CA","navBackgroundColour":"#4F46E5"}}'